*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
}

footer a {
  color: black;
}

:root {
  --13px: 0.8125rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --28px: 1.75rem;
  --32px: 2rem;
  --40px: 2.5rem;
  --62px: 3.875rem;
  --64px: 4rem;
  --67px: 4.1875rem;
  --172px: 10.75rem;
  --200px: 12.5rem;
  --280px: 17.5rem;
  --285px: 17.8125rem;
  --327px: 20.4375rem;
  --512px: 32rem;
  --550px: 34.375rem;
  --730px: 45.625rem;
}

.fs-sm {
  font-size: var(--13px);
}

.fs-md {
  font-size: var(--16px);
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.lh-sm {
  line-height: var(--20px);
}

.lh-md {
  line-height: var(--24px);
}

.ls-sm {
  letter-spacing: 0.0075rem;
}

.ls-md {
  letter-spacing: 0.0125rem;
}

.ff-body {
  font-family: Manrope, sans-serif;
}

.color-lv1 {
  color: #ecf2f8;
}

.color-lv2 {
  color: #9daec2;
}

.color-lv3 {
  color: #6e8098;
}

.color-lv4 {
  color: #48556a;
}

body {
  width: 100vw;
  height: 100vh;
  align-content: center;
}

img {
  display: block;
}

#component-container {
  display: grid;
  width: var(--327px);
  height: var(--512px);
  grid-template-rows: var(--200px) auto;
  margin: auto;
}

#detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 32px;
}

#drawers-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 20%;
}

#author-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--172px);
}

#detail-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#avatar {
  width: var(--40px);
  aspect-ratio: 1;
  border-radius: 50%;
}

@media (min-width: 62rem) {
  .fs-md {
    font-size: var(--20px);
  }

  .lh-md {
    line-height: var(--28px);
  }

  .ls-md {
    letter-spacing: 0.015625rem;
  }

  #component-container {
    grid-template-columns: var(--285px) auto;
    grid-template-rows: unset;
    width: var(--730px);
    height: var(--280px);
  }

  #detail-container {
    padding: 32px;
  }
}
