:root {
  /* Colors for .category in the #summary-container */
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --gray: gray;

  /* Colors for #score-container background  */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  /* Colors for #score-container circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsl(241, 72%, 46%, 0);

  /* Colors for #score-container text */
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);

  /* Color for #summary-container text */
  --dark-gray-blue: hsl(224, 30%, 27%);
}

/* Utility Class */
.flex-column,
.flex-row,
.flex-row-space-btw,
.flex-column-space-even {
  display: flex;
  align-items: center;
}

.flex-column,
.flex-column-space-even {
  flex-direction: column;
}

.flex-row,
.flex-row-space-btw {
  flex-direction: row;
}

.flex-row,
.flex-column {
  justify-content: center;
}

.flex-column-space-even {
  justify-content: space-evenly;
}

.flex-row-space-btw {
  justify-content: space-between;
}

.sm-font {
  font-size: 0.95rem;
}

.md-font {
  font-size: 1rem;
}

.lg-font {
  font-size: 1.2rem;
}

.xl-font {
  font-size: 1.5rem;
}

.xxl-font {
  font-size: 3.5rem;
}

.weight-500 {
  font-weight: 500;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}

.color-lavendar {
  color: var(--light-lavender);
}

.color-paleblue {
  color: var(--pale-blue);
}

.color-grayblue {
  color: var(--dark-gray-blue);
}

.color-gray {
  color: var(--gray);
}

.color-white {
  color: white;
}

/* General Style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer a {
  color: black;
}

footer {
  padding-bottom: 0.5rem;
}

body {
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
}

/* Main Container */
#main-container {
  width: 375px;
  height: 100%;
}

/* Score section */
#score-container {
  width: 100%;
  height: 45%;
  border-radius: 0 0 30px 30px;
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}

#score-circle {
  width: 9rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
}

#score-grade {
  margin-bottom: 0.4rem;
}

#score-desc {
  padding: 0 3rem;
  text-align: center;
}

/* Summary section container */
#summary-container {
  width: 100%;
  height: 55%;
  padding: 0 1.8rem;
  align-items: normal;
}

/* Cateogry section */
#category-container {
  gap: 1rem;
  align-items: normal;
  list-style-type: none;
}

#reaction-container::before {
  background-color: var(--light-red);
}

#memory-container::before {
  background-color: var(--orange-yellow);
}

#verbal-container::before {
  background-color: var(--green-teal);
}

#visual-container::before {
  background-color: var(--cobalt-blue);
}

.category {
  padding: 0.8rem;
  border-radius: 10px;
  position: relative;
}

.category:hover {
  cursor: pointer;
}

.category::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  z-index: -1;
  border-radius: inherit;
}

.category:hover::before {
  opacity: 0.2;
}

img {
  margin-right: 0.8rem;
}

#reaction {
  color: var(--light-red);
}

#memory {
  color: var(--orange-yellow);
}

#verbal {
  color: var(--green-teal);
}

#visual {
  color: var(--cobalt-blue);
}

.slash {
  margin: 0 0.4rem;
}

/* Button on summary section */
button {
  padding: 1rem;
  border-radius: 30px;
  border: none;
  background-color: var(--dark-gray-blue);
}

button:hover {
  cursor: pointer;
}

/* Desktop layout */
@media (min-width: 717px) {
  .sm-font {
    font-size: 0.9rem;
  }

  footer {
    margin-top: 5rem;
  }

  #main-container {
    width: 600px;
    height: 50%;
    border-radius: 30px;
    box-shadow: 5px 5px 15px 3px var(--pale-blue);
    display: flex;
  }

  #score-container,
  #summary-container {
    width: 50%;
    height: 100%;
  }

  #score-container {
    border-radius: 30px;
  }

  #score-circle {
    width: 10rem;
    height: 10rem;
  }

  #summary-container {
    border-radius: 0 30px 30px 0;
  }

  #category-container {
    gap: 0.8rem;
  }

  .category {
    font-size: 0.95rem;
  }

  img {
    margin-right: 0.6rem;
  }

  button {
    padding: 0.6rem;
  }
}
