:root {
  /* Colors for .sector in the #summary-container */
  --light-red-lighter: hsla(0, 100%, 67%, 0.05);
  --light-red-light: hsla(0, 100%, 67%, 0.2);
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow-lighter: hsla(39, 100%, 56%, 0.05);
  --orange-yellow-light: hsla(39, 100%, 56%, 0.2);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal-lighter: hsla(166, 100%, 37%, 0.05);
  --green-teal-light: hsla(166, 100%, 37%, 0.2);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue-lighter: hsla(234, 85%, 45%, 0.05);
  --cobalt-blue-light: hsla(234, 85%, 45%, 0.2);
  --cobalt-blue: hsl(234, 85%, 45%);
  --gray: gray;

  /* Colors for #score-container background  */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  /* Colors for #score-container circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsl(241, 72%, 46%, 0);

  /* Colors for #score-container text */
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);

  /* Color for #summary-container text */
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  box-sizing: border-box;
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
}

footer a {
  color: black;
}

footer {
  padding-bottom: 0.5rem;
}

body {
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
}

button {
  padding: 1rem;
  border-radius: 30px;
  border: none;
  background-color: var(--dark-gray-blue);
}

img {
  margin-right: 0.8rem;
}

.sector {
  padding: 0.8rem;
  border-radius: 10px;
}

.flex-column,
.flex-row,
.container-flex,
.flex-row-space-btw,
.flex-column-space-even {
  display: flex;
  align-items: center;
}

.flex-column,
.container-flex,
.flex-column-space-even {
  flex-direction: column;
}

.flex-row,
.flex-row-space-btw {
  flex-direction: row;
}

.flex-row,
.flex-column,
.container-flex {
  justify-content: center;
}

.flex-column-space-even {
  justify-content: space-evenly;
}

.flex-row-space-btw {
  justify-content: space-between;
}

.sm-font {
  font-size: 0.95rem;
}

.md-font {
  font-size: 1rem;
}

.lg-font {
  font-size: 1.2rem;
}

.xl-font {
  font-size: 1.5rem;
}

.xxl-font {
  font-size: 3.5rem;
}

.weight-500 {
  font-weight: 500;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}

.color-lavendar {
  color: var(--light-lavender);
}

.color-paleblue {
  color: var(--pale-blue);
}

.color-grayblue {
  color: var(--dark-gray-blue);
}

.color-gray {
  color: var(--gray);
}

.color-white {
  color: white;
}

#sector-container {
  gap: 1rem;
  align-items: normal;
}

#main-container {
  width: 375px;
  height: 100%;
}

#score-container {
  width: 100%;
  height: 45%;
  border-radius: 0 0 30px 30px;
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}

#summary-container {
  width: 100%;
  height: 55%;
  padding: 0 1.8rem;
  align-items: normal;
}

#score-circle {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
}

#score-grade {
  margin-bottom: 0.4rem;
}

#score-desc {
  padding: 0 3rem;
  text-align: center;
}

#reaction {
  color: var(--light-red);
}

#memory {
  color: var(--orange-yellow);
}

#verbal {
  color: var(--green-teal);
}

#visual {
  color: var(--cobalt-blue);
}

#reaction-container {
  background-color: var(--light-red-lighter);
}

#memory-container {
  background-color: var(--orange-yellow-lighter);
}

#verbal-container {
  background-color: var(--green-teal-lighter);
}

#visual-container {
  background-color: var(--cobalt-blue-lighter);
}

@media (min-width: 717px) {
  button {
    padding: 0.6rem;
  }

  footer {
    margin-top: 5rem;
  }

  img {
    margin-right: 0.6rem;
  }

  .container-flex {
    flex-direction: row;
  }

  .sm-font {
    font-size: 0.9rem;
  }

  .sector {
    font-size: 0.95rem;
  }

  #sector-container {
    gap: 0.8rem;
  }

  #main-container {
    width: 600px;
    height: 50%;
    border-radius: 30px;
    box-shadow: 5px 5px 15px 3px var(--pale-blue);
  }

  #score-container,
  #summary-container {
    width: 50%;
    height: 100%;
  }

  #score-container {
    border-radius: 30px;
  }

  #summary-container {
    border-radius: 0 30px 30px 0;
  }

  #score-circle {
    width: 10rem;
    height: 10rem;
  }
}
