* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

:root {
  --5px: 0.3125rem;
  --11px: 0.6875rem;
  --14px: 0.875rem;
  --12px: 0.75rem;
  --13px: 0.8125rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --32px: 2rem;
  --240px: 15rem;
  --343px: 21.4375rem;
  --371px: 23.1875rem;
  --450px: 28.125rem;
  --600px: 37.5rem;
  --611px: 38.1875rem;
}

.montserrat {
  font-family: Montserrat, sans-serif;
}

.fraunces {
  font-family: Fraunces, sans-serif;
}

.weight-500 {
  font-weight: 500;
}

.weight-700 {
  font-weight: 700;
}

.font-xs {
  font-size: var(--12px);
}

.font-sm {
  font-size: var(--13px);
}

.font-md {
  font-size: var(--14px);
}

.font-lg {
  font-size: var(--32px);
}

.letter-spacing {
  letter-spacing: var(--5px);
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: var(--343px);
  width: min(var(--343px), 95vw);
  min-height: var(--611px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image-container {
  width: 100%;
  height: var(--240px);
  display: flex;
}

#detail-container {
  width: 100%;
  min-height: var(--371px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}

picture {
  width: 100%;
  display: flex;
}

#product-image {
  width: 100%;
}

#price {
  display: flex;
  flex-direction: row;
}

#button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 15.5px 0;
  gap: var(--11px);
}

#cart-icon {
  width: var(--14px);
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 20px 0;
  background-color: white;
  font-size: 16px;
}

@media (min-width: 62rem) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--600px);
    height: var(--450px);
    min-height: unset;
  }

  #image-container {
    width: 50%;
    height: 100%;
  }

  #detail-container {
    width: 50%;
    height: 100%;
    padding: 32px;
  }

  footer {
    position: fixed;
    bottom: 0;
  }
}
