* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cream: #f2eae2;
  --white: #ffffff;
  --aurometal-saurus: #6c7289;
  --gunmetal: #1c232b;
  --deep-aquamarine: #3d8168;
  --deep-aquamarine-hover: #1a4032;

  --5px: 0.3125rem;
  --11px: 0.6875rem;
  --12px: 0.75rem;
  --13px: 0.8125rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --23px: 1.4375rem;
  --32px: 2rem;
  --240px: 15rem;
  --343px: 21.4375rem;
  --371px: 23.1875rem;
  --450px: 28.125rem;
  --600px: 37.5rem;
  --611px: 38.1875rem;
}

/* Utility Class */
.montserrat {
  font-family: Montserrat, sans-serif;
}

.fraunces {
  font-family: Fraunces, sans-serif;
}

.weight-500 {
  font-weight: 500;
}

.weight-700 {
  font-weight: 700;
}

.font-xs {
  font-size: var(--12px);
}

.font-sm {
  font-size: var(--13px);
}

.font-md {
  font-size: var(--14px);
}

.font-lg {
  font-size: var(--32px);
}

.letter-spacing {
  letter-spacing: var(--5px);
}

.line-h-23 {
  line-height: var(--23px);
}

.line-h-32 {
  line-height: var(--32px);
}

.color-white {
  color: var(--white);
}

.color-gunmetal {
  color: var(--gunmetal);
}

.color-aurometal {
  color: var(--aurometal-saurus);
}

.color-aquamarine {
  color: var(--deep-aquamarine);
}

.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.f-center {
  justify-content: center;
  align-items: center;
}

.f-space-btw {
  justify-content: space-between;
}

.visually-hidden {
  display: none;
}

/* General Style*/
body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--cream);
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: transparent;
  font-size: 16px;
}

footer a {
  color: black;
}

/* Main responsive container */
main {
  width: var(--343px);
  width: min(var(--343px), 95vw);
  min-height: var(--611px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}

/* Product image container and image element */
#image-container {
  width: 100%;
  height: var(--240px);
}

picture {
  width: 100%;
}

#product-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

/* Product detail container and text element */
#detail-container {
  width: 100%;
  min-height: var(--371px);
  padding: 24px;
  background-color: var(--white);
  border-radius: 0 0 10px 10px;
}

#original-price {
  margin-left: 10px;
}

#button {
  width: 100%;
  padding: 15.5px 0;
  gap: var(--11px);
  background-color: var(--deep-aquamarine);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#button:hover {
  background-color: var(--deep-aquamarine-hover);
}

#cart-icon {
  width: var(--15px);
}

/* Styles for desktop screens */
@media (min-width: 62rem) {
  main {
    display: flex;
    flex-direction: row;
    width: var(--600px);
    height: var(--450px);
    min-height: unset;
  }

  #image-container {
    width: 50%;
    height: 100%;
  }

  #product-image {
    border-radius: 10px 0 0 10px;
  }

  #detail-container {
    width: 50%;
    height: 100%;
    padding: 32px;
    border-radius: 0 10px 10px 0;
  }

  footer {
    position: fixed;
    bottom: 0;
  }
}
